<html>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="../home/home.html">
        <h1><i class="fas fa-heartbeat "></i> euAtendo</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="#"> <i class="fas fa-search-plus "></i> Hospitais/Clínicas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../home/sobrenos.html"> <i class="fas fa-heart "></i> Sobre Nós</a>
            </li>
            <li class="nav-item">
               <a class="nav-link active" href="../estabelecimento/painel.html" > <i class="fas fa-user"></i> Bem-vindo <span id="nomeestabelecimento"></span>    </a>
                
            </li>
        </ul>

    </div>
</nav>



<div class="modal"></div>

</html>
