<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="manifest" href="../../manifest.json">

    <title>EuAtendo</title>

    <link rel="stylesheet" href="../../res/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../res/css/proj.css">
</head>

<body>
    <header>
    </header>
    <!-- CONTEÚDO -->
    <div class="corpo">
        hahahaha
    </div>
    
    <!-- FIM DO CONTEÚDO -->
    <footer>
    </footer>

    <script src="../../res/js/jquery-3.3.1.min.js"></script>
    <script src="../../res/js/popper.min.js"></script>
    <script src="../../res/js/bootstrap.min.js"></script>
    <script src="../../res/js/fontawesome-all.min.js" ></script>
    <script src="../../res/js/gymob.js"></script>
</body>

</html>
